<ion-view title="Profile" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list8">
      <ion-item class="item-avatar positive" id="profile-list-item18" style="">
        <img src="img/lvA37rJXRNiBu8As1hZe_notw_silhouette-1.jpg">
        <h2positive>Jemmel Dave Año
          <p>Patient</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 283px; height: 31px;"></div>
    <form id="profile-form5" class="list">
      <label class="item item-input" id="profile-textarea2">
        <span class="input-label"></span><textarea placeholder="Leave a comment"></textarea></label>
    </form>
    <button id="profile-button7" class="button button-positive">Leave a comment</button>
  </ion-content>
</ion-view>